@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --tw-gradient-from: hsl(5,32%,80%);
  --tw-gradient-to: hsl(5 32% 80% / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-gradient-from: hsl(5,32%,80%);
    --tw-gradient-to: hsl(5 32% 80% / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}

body {
  color: rgb(var(--tw-gradient-from));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--tw-gradient-to))
    )
    rgb(var(--tw-gradient-stops var(--tw-gradient-from), var(--tw-gradient-to)));
}
